* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$blue: #26A8E0;
$green: #7ACE3B;
$almost-white: #F6F9FC;
$dark-grey: #737476;
$middle-grey: #A2A2A2;
$ligth-grey: #E6E7E8;


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid $middle-grey;
}

.logo {
  width: 40%;
  margin-left: 0em;
}

/* New Operation */
.new-operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
}

.info-main-box {
  background-color: $ligth-grey;
  border-radius: 3px;
  max-width: 450px;
  padding: 0.8em 3em;
  h4 {
    color: #fff;
  }
  p {
    color: $green;
  }
}

.buy-sale-box {
  border: 2px solid $blue;
  border-radius: 3px;
  margin-top: 1.2em;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-dollar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 35%;
  margin-left: 1.5em;
}

.dollar-icon-container {
  background-color: $green;
  border-radius: 50%;
  width: 20%;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
}

.buy-box {
  position: relative;
}

.buy-box, .sale-box {
  width: 100%;
} 

.buy-price p, .sale-price p {
  color: #fff;
  background-color: $green;
  padding: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.coin {
  background-color: $blue;
  color: #fff;
  padding: 1em;
}

.personal-information h4, .personal-information p {
  display: inline-block;
}

.what-i-have {
  input {
    text-align: center;
  }
}

/* Navigation Components */

.aside {
  border-right: 1px solid $ligth-grey;
}

.personal-account {
  background-color: $green;
  color: white;
  font-weight: 600;
  padding: 1em 3em;
  font-size: 1.2em;
  margin: 7.5em 0 1em;
  h5 {
    font-size: 1.5rem;
  }
}


.personal-bank-account {
  margin-top: 8.3em;

  .in-use {
    text-align: center;
  }
}

.span-info:first-of-type {
  margin-right: 0.5em;
}

.list-group-item:first-of-type {
  background-color: $dark-grey;
  color: white;
}

.navigation-icon {
  max-width: 100%;
  height: auto;
  width: 8%;
  margin-right: 1em;
}

// Personal Bank Account
.header-personal-bank-account {
  h3 {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
    vertical-align: middle;
  }

  img {
    width: 45px;
    margin-left: 0.5em;
  }
}

@media(min-width: 576px) {
  .logo {
    width: 25%;
    margin-left: 1em;
  }
}

.container-soles {
  th, td {
    border: 1px solid $ligth-grey; 
    padding: 0.5em;
    width: 11em;   
    color: $dark-grey;
  }
  
  .data-soles {
    background-color: $almost-white;
  }

  .active-button {
    background-color: $green;
    border: none;
    border-radius: 0.3em;
    color: #fff;
    padding: 0.3em 1.1em;
  }

}

@media(min-width: 992px) {
  .logo {
    margin-left: 1.6em;
  }
}

@media(min-width: 1200px) {
  .logo {
    width: 12%;
    margin-left: 2em;
  }
}

@media(min-width: 1500px) {
  .logo {
    width: 9%;
  }
}



