* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-main-box {
  background-color: #5d5d57;
  border-radius: 3px;
  max-width: 450px;
  padding: 0.8em 3em;
}

.info-main-box h4 {
  color: #fff;
}

.info-main-box p {
  color: #4db63f;
}

.buy-sale-box {
  border: 2px solid #0998d9;
  border-radius: 3px;
  margin-top: 1.2em;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  text-align: center;
}

.buy-box, .sale-box {
  width: 100%;
} 

.buy-price p, .sale-price p {
  color: #0998d9;
}

.coin {
  background-color: #0998d9;
  color: #fff;
}
