.personal-account {
  background-color: #7ACE3B;
  color: white;
  font-weight: 600;
  padding: 1em 3em;
  font-size: 1.2em;
  margin: 7.5em 0 1em;
}

.personal-account h5 {
  font-size: 1.5rem;
}

.span-info:first-of-type {
  margin-right: 0.5em;
}

.list-group-item:first-of-type {
  background-color: #454547;
  color: white;
}

.navigation-icon {
  max-width: 100%;
  height: auto;
  width: 8%;
  margin-right: 1em;
}
